.button {
  color: var(--btn-color);
  font-weight: 700;
  background-color: rgba(218, 229, 208, 0.4);
  appearance: none;
  border: none;
  outline: none;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.button__search {
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  transition: 0.4s;
}
.button__search:hover {
  box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .button__search {
    position: fixed;
    top: 90%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 40px;
  }
}
