.button {
  animation: shake 1s 1;
  color: var(--text-color);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);
  appearance: none;
  border: none;
  outline: none;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

.button:hover {
  box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: 0.4s;
}

@keyframes shake {
  20% {
    color: var(--warm-color);
  }
  30% {
    color: var(--cold-color);
  }
}

@media screen and (max-width: 600px) {
  .search__city {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .button__search {
    position: fixed;
    top: 90%;
    margin: 0 5%;
    width: 120px;
    height: 40px;
  }
}
